.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 30px;
}

.code {
  padding: 15px 20px;
  border-radius: 6px;
  background-color: #263238;
  max-width: 100%;
  box-shadow: 2px 4px 8px rgba(#1e272c, 0.5);

  code {
    color: #89ddff;
    font-size: 14px;
    line-height: 22px;
    white-space: pre-wrap;

    span {
      color: #ffcb6b;

      &:first-child {
        color: #c792ea !important;
      }
    }
  }
}

.logo {
  height: 80px;
  width: 80px;

  picture,
  picture img {
    display: block;
    height: 100%;
    width: 100%;
  }

  img {
    border-radius: 15px;
  }
}
